<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>portoBE</title>
  </head>
  <body>
    <% var user = { name: "ayah", age: 22 }; %>
    <h1>Portofolio BE</h1>
    <% if (user) { %>
    <h2><%= user.name %></h2>
    <% } %>
  </body>
</html>
